
    body {
        text-align: center;
        align-items: center;
        padding: 60px 120px;
        border: 5px solid black;
        margin: 100px 400px;
    }

    button {
        background-color: goldenrod;
    }

    .cc {
        background-color: yellow;
    }

    a:hover {
        color: lime
    }
